@font-face {
    font-family: Bebas;
    src: url(./BebasNeue-Regular.otf)
}

@font-face {
    font-family: Websymbols;
    src: url(./WEBSYMBOLS-REGULAR.OTF);
}

body {
    padding: 0px;
    margin: 0px;
    overflow: auto;
    background: #A9C2C4;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 80px;
    padding: 2px;
    background: #A9C2C4;
}

#logo {
    flex-basis: 65%;
    margin-left: 15px;
    margin-top: 5px;
}

#logo img {
    width: 20%;
    transition: 0.2s;
}

#logo img:hover {
    width: 22%;
}

#menu {
    flex-basis: 15%;
    height: 40%;
    align-items: right;
    margin-left: 200px;
    background-color: #003745;
    border-radius: 5px;
    box-shadow: 2px 2px 5px black;
}

#menu ul {
    margin-top: 2px;
    margin-right: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: left;
    list-style: none;
}

#menu ul li a {
    color: white;
    font-size: 22px;
    font-family: Bebas;
    letter-spacing: 2px;
    transition: 0.3s;
    text-decoration: none;
    cursor: pointer;
}

#menu ul li a:hover {
    color: #728586;
    text-shadow: 0px 0px 15px black;
    transform: scale(1.01, 1.01);
}

#contenido {
    display: flex;
    width: 90%;
    margin: 0px auto;
    margin-top: 50px;
    margin-bottom: 0px;
}

.formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Bebas;
    color: white;
    letter-spacing: 1px;
}

.formulario label {
    margin-top: 0px;
}

.formulario input {
    margin-top: 0px;
    margin-bottom: 5px;
    border-radius: 5px;
    border: 1px solid #728586;
    padding: 5px;
    outline: none;
    transition: 0.3s;
}

#enviar {
    margin-top: 0px;
    border: none;
    border-radius: 8px;
    padding: 8px;
    cursor: pointer;
    transition: 0.3s;
    font-family: Bebas;
    letter-spacing: 1px;
    font-size: 15px;
}

#enviar:hover {
    background: #003745a2;
    border: 1px hidden black;
    box-shadow: 0px 0px 25px #003745;
}

.formulario input:focus {
    background: #dfe6e9;
    border: 1px solid black;
    box-shadow: 0px 0px 25px #003745;
}

#publicaciones {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    margin-left: 52px;
    margin-top: -20px;
}

.post h2 {
    font-family: Bebas;
    letter-spacing: 1px;
    font-weight: lighter;
}

.post p {
    font-family: sans-serif;
}

.post {
    text-align: center;
    margin-bottom: 10px;
    padding: 10px;
    padding-left: 10px;
    border-radius: 10px;
    background: #003745;
    color: white;
    box-shadow: 5px 5px 10px black;
    transition: 0.3s;
    cursor: pointer;
}

.post:last-child {
    margin-bottom: 82px;
}

.post:hover {
    transform: scale(1.01, 1.01);
}

#footer {
    display: flex;
    justify-content: center;
    margin-bottom: 0px;
    height: 10px;
}

#footer p {
    margin-bottom: 100px;
    font-family: sans-serif;
    font-style: italic;
    font-size: 10px;
}

.main {
    width: 100%;
    max-width: 1000px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Bebas;
    font-size: xx-large;
    color: white;
    letter-spacing: 1px;
}

.post2 h2 {
    font-family: Bebas;
    letter-spacing: 1px;
    font-weight: 500;
    text-align: center;
}

.post2 p {
    font-family: sans-serif;
}

.post2 {
    align-items: center;
    font-size: 40px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    width: 48%;
    height: 130px;
    padding-left: 10px;
    border-radius: 10px;
    background: #003745;
    color: white;
    box-shadow: 5px 5px 10px black;
    transition: 0.3s;
    cursor: pointer;
}

.post2:last-child {
    margin-bottom: 82px;
}

.post2:hover {
    transform: scale(1.01, 1.01);
    color: #728586;
    text-shadow: 0px 0px 15px black;
}

#code1 {
    position: relative;
    display: inline-block;
    width: 80%;
}

#code2 {
    display: block;
    position: absolute;
    top: 0px;
    left: 530px;
    align-items: left;
    font-size: 20px;
    text-align: center;
    margin-top: -19px;
    margin-bottom: 10px;
    padding: 30px;
    width: 100%;
    height: 91px;
    padding-left: 10px;
    border-radius: 10px;
    background: #00374570;
    color: white;
    box-shadow: 5px 5px 10px black;
    transition: 0.3s;
    cursor: pointer;
}